@font-face {
    font-family: nb;
    src: url(./custome/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(./custome/Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    background-color: #050404;
}
.space{
    height: 100vh;
    width: 100%;
}
.loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #fff5ea;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: nb;
}

.contact{

    font-size: 8rem;
   margin-bottom: 18vw;
   font-family: rejoy;
}
.secPhone,
.phoneNumber{
    position: relative;
    z-index: 10;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100%;
}

#menu{
    position: absolute;
    z-index: 1000;
    background-color: #00bf63;
    height: 0;
    width: 100%;
    overflow: hidden;

}

#menu>nav{
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: nb;
    font-size: 1vw;
    
}

.first_part_menu{
    
    
    height: 35vh;
    width: 25vw;

}

.first_part_menu>video{
height: 100%;
width: 100%;
object-fit: cover;
}

.menu_lower_part{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: nb;
}

.menu_lower_part>h1{
    font-size: 1.5vw;
    font-weight: 100;
}

.menu_lower_part>h1>span{
    font-weight: 100;
    font-family: rejoy;
    padding: 0rem .3rem;
}

.menu_lower_part>h1>span>i{
    padding: 0rem .2rem;
    transform: rotate(25deg);
    transition: all 0.3s;

}

.menu_lower_part>h1>span>i:hover{
    transform: rotate(90deg);
}


#menu>hr{
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid black;
    /* padding-bottom: 1rem; */
   

}


#menu>nav>h1{
    font-weight: 100;
}



.menu_second_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 10rem;

}

.second_part_menu>li{
    
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 3vw;
    font-family: nb;
    list-style: none;
    list-style-type: none;
}

.second_part_menu>li>button{
    font-size: 2vw;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
    background-color: transparent;
    transition: all 0.3s;
}

.second_part_menu>li>button:hover{
color: #fff5ea;
background-color: black;
}







#page1-content{
    height: 100%;
    width: 100%;
    
    color:#fff5ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    
}
#page1-content>nav{
    height: 7.813vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    font-family:nb;    
}


nav>h3{
    font-size: 1.4vw;
    font-weight: 100;

}

nav>h4{
    font-size: 1.4vw;
    font-weight: 100;
}


#page1-content>h1{
    
    font-family: rejoy;
    font-size: 23vw;
    line-height: 13vw;
}

#page1-content>h1>span{
    font-family: rejoy;
}

    
.secContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    z-index: 9999;
  }
  .secPhone {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 0 10px 0 #fff5ea;
    background: linear-gradient(
        132deg,
        #050404,
       #fff5ea
    );
    background-size: 300%;
    background-position: 0;
    animation: moveGradient 8s alternate infinite;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .secPhone::after {
    content: "";
    position: absolute;
    width: 155px;
    height: 34px;
    margin: 0 3px 0 42px;
    border-radius: 8px;
    background-color: black;
  }
  .phone {
    width: 25px;
    height: 25px;
    margin-left: 11px;
    margin-right: 18px;
    background: url("./icon-whatsapp-50.png") no-repeat;
    background-size: cover;
    z-index: 10;
  }
  .secPhone:hover {
    box-shadow: 0px 0 15px 0 #00bf63;
    font-weight: bolder;
  }

  .secPhone:active {
    scale: 0.9;
  }
  .phoneNumber {
    z-index: 10;
  }
  
  .secMail {
    width: 200px;
    height: 40px;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 1px 0 10px 0  #fff5ea ;
    background: linear-gradient(
      132deg,
       #050404,
      #fff5ea
      
    );
    background-size: 300%;
    background-position: 0;
    animation: moveGradient 8s alternate infinite;
  }
  .secMail:hover {
    font-weight: bolder;
    box-shadow: 0px 0 15px 0 #00bf63;
  }
  .secMail:active {
    scale: 0.9;
  }
  .mail {
    width: 30px;
    height: 30px;
    background: url("./icon-envelope-64.png") no-repeat;
    background-size: cover;
  }
  
  .secSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .social {
    width: 55px;
    height: 55px;
    border-radius: 5px;
  }
  .social:nth-of-type(1) {
    background: url("./Instagram-Logo-PNG-HD-Image.png") no-repeat;
    background-size: cover;
    box-shadow: 1px 0 25px 0 #fff5ea;
  }
  .social:hover {
   
    scale: 1.1;
    box-shadow: 0px 0 15px 0 #00bf63;
  }
  .social:active {
    filter: invert(100%);
    scale: 0.9;
  }
  








    @media screen and (max-width:900px) {
        #main{
            overflow: hidden;
        }
    }



    @media screen and (max-width:700px) {

        h1{
            font-size: 3.7rem;
            margin: 1.5rem;
        }
        .loader{
            height: 100vh;
        }

        nav>h3{
            font-size: 3.5vw;
        }

        nav>h4{
            font-size: 3.5vw;
        }
       
        .upper-part-page2>div>h1{
            font-size: 2.8vw;
        }

        .upper-part-page2>h1{
            font-size: 2.8vw;
        }
        .secMail {
            width: 150px;
            height: 30px;
            
        }
        .mail{
            width: 20px;
            height: 20px;
        }
        .msg {
            font-size: 1.0rem;
        }
       .social{
        width: 6vh;
        height: 6vh;
       }
        .secPhone{
            width: 150px;
            height: 30px;
        }
        .secPhone::after {
            content: "";
            position: absolute;
            width: 103px;
            height: 24px;
            margin: 0 3px 0 42px;
            border-radius: 8px;
            background-color: black;
          }
          .phone {
            width: 20px;
            height: 20px;
            margin-left: 9px;
            margin-right: 10px;
            background: url("./icon-whatsapp-50.png") no-repeat;
            background-size: cover;
            z-index: 10;
          }
          .secPhone:hover {
            box-shadow: 0px 0 15px 0 #00bf63;
            font-weight: bolder;
          }
        
          .secPhone:active {
            scale: 0.8;
          }
          .phoneNumber {
            z-index: 10;
            font-size: 1.16rem;
            margin-left: 3px;
          }
        #main{
            width: 100%;
            overflow: hidden;
        }
        #page1 {


            width: 100%;
            height: 60vh;

        }

        .cursor{
            display: none;
        }

      
    }

 
    @media screen and (max-width:450px) {
        #page1-content nav h3{
            font-size: 2vh;
            padding-top: 2.5vh;
        }
        #page1-content nav h4{
            font-size: 2vh;
            padding-top: 2.5vh;
        }
        .first_part_menu{
            height: 22vh;
            width: 37vh;
        }
        .menu_second_part{
            flex-direction: column;
         padding-left: 0rem;
         padding-right: 0rem;
        }
        

        .second_part_menu{
            display: flex;
        }

        .second_part_menu>li{
            padding: .5rem .2rem;
        }

        #menu>hr{
            margin-top: 0rem;
        }
        .menu_lower_part>h1{
            font-size: 2.8vw;
        }

        #menu>nav{
            font-size: 4vw;
        }

      
    }

